/*** Links for navigation between posts ***/

.posts-navigation {
    font-family: Rajdhani;
    margin: 0 auto;
}

.posts-navigation--title {
    margin: 0 auto 30px auto;
    border-bottom: 1px solid #CCC;
    position: relative;
}

.posts-navigation--title span {
    color: #999;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBvbHlnb24gcG9pbnRzPSI2Ljk5IDAgMSA0LjIxIDEyLjAzIDEzLjM1IDYuOTkgMCIgZmlsbD0iI2JhMjAyNSIvPjxwYXRoIGQ9Ik0xMS41LDVoLS40NWEuMzIuMzIsMCwwLDAtLjI3LjQzbC40NiwxLjI2YS4yNy4yNywwLDAsMCwuMjYuMThoMEE1LjYyLDUuNjIsMCwxLDEsNS45LDEyLjVhNS40Nyw1LjQ3LDAsMCwxLC4yNi0xLjY4LjMxLjMxLDAsMCwwLS4xLS4zNEw1LDkuNjRhLjMyLjMyLDAsMCwwLS40OS4xM0E3LjUsNy41LDAsMSwwLDExLjUsNSIvPjwvc3ZnPgo=) no-repeat 1em center;
    height: 20px;
    padding: 0 1em 0 3em;
    margin-top: -1.5ex;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.posts-navigation--links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 20px;
}

.posts-navigation--link {
    color: #fff;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ba2025;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 4px;
    padding: 0.75em 1em;
    width: 12em;
    display: block;
    transition: background-color 0.15s ease-in-out;
}

.posts-navigation--link:hover,
.posts-navigation--link:active,
.posts-navigation--link:focus {
    background-color: #000;
    text-decoration: none;
}

.posts-navigation--links li:first-child a {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gcG9pbnRzPSIxIDggMTUgMTYgMTUgMCAxIDgiIGZpbGw9IiNmZmYiLz48L3N2Zz4K);
    background-position: 1em center;
    padding-left: 2em;
}
.posts-navigation--links li:last-child a {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gcG9pbnRzPSIxNSA4IDEgMTYgMSAwIDE1IDgiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
    background-position: right 1em center;
    padding-right: 2em;
}
